*{
    margin: 0px;
    font-family: 'inter';
}

#logo{
    margin-left: 50px;
    margin-top: 50px;
}

#título-menusupereior{
    margin-left: 150px;
    margin-top: 50px;
}

#texto-menusuperior{
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#menusuperior{ 
    background-image: url(imagens/fundo-menusuperior.svg);
    color: white;
    background-size: cover;
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 15px 0px 15px 175px;
    padding: 15px;

}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo{
    display: flex;
    align-items: center;

}

#titulovideo{
    color: #247BA0;
    margin-top: 50px;
}

#video{
    margin: 50px 25px 50px 100px;

}

#carrossel{
    background-color: #247BA0;
    padding: 50px;
}

#titulo-carrossel{
    color: white;
    text-align: center;
    font-size: 25px;
}
#div-cards{
    margin-top: 25px;
    margin-left: 200px;
    display: grid;
    grid-auto-flow: column;
    

}

.card{
    margin-left: 25px;
}

#seta-esquerda{
    display: none;
}

#Bruna{
    display: none;
}

.seta{
    margin-top: 17%;
    cursor: pointer;
}

.seta:hover{
    transform:translateY(5px);
    transition-duration: 0.5s;
}

#formulario {
    text-align: center;
}

#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}
input{
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    margin: 10px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;

}

button{
    background-color: #247BA0;
    color: #FFFFFF;
    width: 250px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    font: bolder;
    cursor: pointer;

}

button:hover{
    background-color: #39a1ce;
    color: white;
    transform: translateY(7px);
    box-shadow: 0px 15px 20px #021a24;
    transition-duration: 0.5s; 
}

/* =========================
   MOBILE (até 768px)
========================= */
@media (max-width: 768px) {

  * {
    margin: 0;
  }

  /* ===== MENU SUPERIOR ===== */
  #menusuperior {
    text-align: center;
    padding: 32px 20px;
  }

  #logo {
    margin: 0 auto 24px auto;
    display: block;
    width: 120px;
  }

  #título-menusupereior {
    margin: 0 0 16px 0;
    font-size: 1.6rem;
  }

  #texto-menusuperior {
    margin: 0;
    padding-bottom: 40px;
    font-size: 0.95rem;
    line-height: 1.4;
  }

  /* ===== MENU INFORMACIONAL ===== */
  #menuinformacional {
    grid-auto-flow: row;
    gap: 16px;
    padding: 24px 20px;
  }

  .icone {
    margin: 0;
    padding: 0;
    width: 24px;
  }

  .textoinformativo {
    justify-content: flex-start;
    gap: 12px;
    font-size: 0.95rem;
  }

  /* ===== SEÇÃO VÍDEO ===== */
  #secaovideo {
    grid-auto-flow: row;
    padding: 32px 20px;
    text-align: center;
  }

  #video {
    margin: 0;
    width: 100%;
    height: 200px;
  }

  #titulovideo {
    margin-top: 24px;
    font-size: 1.4rem;
  }

  /* ===== CARROSSEL ===== */
  #carrossel {
    padding: 32px 20px;
  }

  #titulo-carrossel {
    font-size: 1.4rem;
  }

  #div-cards {
    margin: 24px 0 0 0;
    display: flex;
    gap: 16px;
    overflow-x: auto;
  }

  .card {
    margin: 0;
    width: 220px;
    flex-shrink: 0;
  }

  .seta {
    display: none;
  }

  /* ===== FORMULÁRIO ===== */
  #formulario {
    padding: 32px 20px;
  }

  #titulo-formulario {
    font-size: 1.4rem;
    margin: 16px 0;
  }

  input {
    width: 100%;
    max-width: 360px;
    height: 44px;
  }

  button {
    width: 100%;
    max-width: 360px;
    height: 44px;
    font-size: 1rem;
  }

}





